@font-face {
  font-family: "Inter";
  src: url("/inter/Inter-Black.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url("/inter/Inter-Light.ttf") format("ttf");
  font-weight: light;
}

@font-face {
  font-family: "Inter";
  src: url("/inter/Inter-Regular.ttf") format("ttf");
}
